<head>
  <link rel="stylesheet" type="text/css" href="css/faculty/faculty.css">
</head>

 <!--div class="template-container" ng-show="referralUpdateCount!=null && newMessageCount!=null"-->
<div class="row nav-bar">
  <div class="col-md-12 nav-bar-col no-side-padding">

      <img src="img/logo1.jpg">
      <p>ACE Program<br />Online Referral System</p>
      <a ui-sref="login" ng-click="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
      </a>
  </div>
</div>


<div class="row menu-content-row">
  <div class="col-md-2 menu-col no-side-padding">
    <ul class="navi list-unstyled">
        <li>
          <a ui-sref="admin.reports" class="reportTab">
              <i class="fa fa-list" aria-hidden="true"></i>
              <span class="nav-text">Reports<span class="badge" ng-show="referralUpdateCount">{{referralUpdateCount}}</span></span>
          </a>
        </li>

        <li>
            <a ui-sref="admin.messaging" class="messageTab">
                <i class="fa fa-envelope"></i>
                <span class="nav-text">Messages <span class="badge" ng-show="newMessageCount">{{newMessageCount}}</span></span>
            </a>
        </li>

        <li>
            <a ui-sref="admin.manageStudents" class="manageStudentTab">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="nav-text">Manage Students</span>
            </a>
        </li>

        <li>
            <a ui-sref="admin.manageFaculty" class="manageFacultyTab">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="nav-text">Manage Faculty</span>
            </a>
        </li>

        <li>
            <a ui-sref="admin.manageDatabase" class="manageDatabaseTab">
                <i class="fa fa-database" aria-hidden="true"></i>
                <span class="nav-text">Manage Database</span>
            </a>
        </li>

        <li>
            <a ui-sref="admin.summary" class="summaryTab">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="nav-text">Summary</span>
            </a>
        </li>

        <li>
            <a ui-sref="admin.settings" class="settingTab">
                <i class="fa fa-cog"></i>
                <span class="nav-text">Settings</span>
            </a>
        </li>
    </ul>
  </div>

  <div class="col-md-10 content-col no-side-padding" ui-view></div>

</div>
</div>



<!-- Original code -->
<!--
<div class="header3">
  <h1> LOGO HERE </h1>
  <a ui-sref="login">Notification</a>
  <a ui-sref="login" ng-click="logout()">Logout</a>
</div
-->
<!--
<ul class="sidebarMenu">
  <li><a ui-sref="admin.reports">Reports</a></li>
  <li><a ui-sref="admin.messaging">Messages</a></li>
  <li><a ui-sref="admin.manageStudents">Manage Students</a></li>
  <li><a ui-sref="admin.manageFaculty">Manage Faculty</a></li>
  <li><a ui-sref="admin.manageDatabase">Manage Database</a></li>
  <li><a ui-sref="admin.summary">Summary</a></li>
  <li><a ui-sref="admin.settings">Settings</a></li>

</ul>

<div ui-view></div>
 -->
