<head>
	<title>ACE Program | Manage Faculty</title>

	<link rel="stylesheet" type="text/css" href="css/admin/manage-faculty.css">
</head>

<body>

<div ng-show="!isLoading">

	<div class="banner">
		<div class="button-container col-md-12">
						<div class="searchBar pull-right">
							<input type="text" class="form-control" ng-model="searchBox" placeholder="&#xF002; Search " style="font-family:Arial, FontAwesome" />
						</div>

						<div class="register-button col-md-2">
							<button type="button" data-toggle="modal" data-target="#facultyRegModal" ng-click="showRegFacultyModal()"><i class="fa fa-user-plus" aria-hidden="true"></i> Register Faculty</button>
						</div>

						<div class="delete-button col-md-1">
							<button type="button" ng-click="deleteFacultyList()" ng-disabled="disableDeleteBtn()"><i class="fa fa-user-times" aria-hidden="true"></i> Delete Faculty</button>
						</div>
		</div>

		<img src="img/header1.png" class="img-responsive">
	</div>

	<div class="manageFaculty col-md-12 col-md-offset-0 formContainer">

					<div class="panel-body manageContainer table-responsive">

							<table class="table table-inbox table-condensed">
								<col width="15">
								<col width="150">
								<col width="150">
								<col width="100">
								<col width="100">
								<col width="60">
								<col width="30">

								<thead>
									<tr class="header">
											<th>
												<center>
													<input type="checkbox" ng-model="mainCheckbox" ng-change="controlCheckbox()">
												</center>
											</th>
											<th>EMAIL</th>
											<th>NAME</th>
											<th>CONTACT</th>
											<th>REPORTS</th>
											<th>STATUS</th>
											<th><center>ACTION</center></th>
									</tr>
								</thead>
								<tbody>

								</tbody>

									<tr class="listFaculty" ng-repeat="faculty in facultyAccounts | startFrom:(currentPage-1)*itemsPerPage | filter: searchBox | limitTo:itemsPerPage" data-toggle="modal" data-target="#editModal" ng-click="showPopup(faculty)">
											<td>
												<center><input type="checkbox" data-checklist-model="facultyList.email" data-checklist-value="faculty.email" noclick></center>
											</td>

											<td>
												{{faculty.email}}
											</td>

											<td>
									       		{{faculty.first_name | uppercase}} {{faculty.last_name | uppercase}}
									        </td>

							        		<td>
							            		{{faculty.contact_number}}
							        		</td>

											<td>
							            		{{faculty.reported_count}}
							        		</td>

							        		<td>
							            		{{faculty.status}}
							        		</td>

											<td class="deleteButton">
												<center>
												<button type="button" class="btn btn-danger btn-xs" ng-click="deleteFaculty(faculty.email)" noclick><span class="glyphicon glyphicon-trash"></span></button>
												</center>
											</td>

							    	</tr>

							    	<tr ng-show="(filtered = (facultyAccounts | filter:searchBox)).length == 0">
										<td colspan="7"><center>NO RESULT</center></td>
									</tr>

	 							</tbody>
							</table>

							<center>
								<div class="custom-pagination">
									<ul class="custom-inner-pagination" uib-pagination total-items="(filtered = (facultyAccounts | filter: searchBox)).length" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="resetCheckbox()"></ul>
								</div>
							</center>

					</div>
	</div>

</div>

<div class="sk-fading-circle" ng-hide="!isLoading">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
</div> <!-- spinner -->


		<!-- MODALS -->

		<div id="facultyRegModal" class="modal fade" role="dialog">
		  	<div class="modal-dialog">

			    <div class="modal-content">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove custom-header-color" aria-hidden="true"></span></button>
			        	<h4 class="modal-title custom-header-color">Register Faculty</h4>
			     	</div>
			      	<div class="modal-body">


			      		<form name="regFacultyForm" class="form-horizontal custom-form" role="form" ng-submit="registerFaculty(regFacultyForm)" novalidate>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="facultyEmailInput">Email</label>
				              <div class="col-md-12">
				                <input type="email" class="form-control" id="facultyEmailInput" name="facultyEmail" ng-model="facultyEmail" pattern="^[a-zA-Z0-9._%+-]+@iacademy.edu.ph" required/>
				              </div>
				            </div>
				            <div ng-messages="regFacultyForm.facultyEmail.$error" ng-show="regFacultyForm.$submitted">
											<p class="invalid-text" ng-message="pattern">Must use iACADEMY Email</p>
											<p class="invalid-text" ng-message="emailExist">Email already used</p>
				              <p class="invalid-text" ng-message="required">This field is required</p>
				              <p class="invalid-text" ng-message="email">Invalid email</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="facultyFirstNameInput">First Name</label>
				              <div class="col-md-12">
				                <input type="text" class="form-control" id="facultyFirstNameInput" name="facultyFirstName" ng-model="facultyFirstName" required/>
				              </div>
				            </div>
				            <div ng-messages="regFacultyForm.facultyFirstName.$error" ng-show="regFacultyForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="facultyLastNameInput">Last Name</label>
				              <div class="col-md-12">
				                <input type="text" class="form-control" id="facultyLastNameInput" name="facultyLastName" ng-model="facultyLastName" required/>
				              </div>
				            </div>
				            <div ng-messages="regFacultyForm.facultyLastName.$error" ng-show="regFacultyForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="regBtn">
				              <button type="submit" class="btn btn-primary" ng-disabled="disableRegBtn">{{createBtn}}</button>
				        	</div>

				        </form>

			      	</div>

			    </div>

		  	</div>
		</div><!-- modal closing tag -->




		<div id="editModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove custom-header-color" aria-hidden="true"></span></button>
						<h3 class="modal-title custom-header-color"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Faculty's Information</h3>
					</div>

					<div class="modal-body">

						<form name="updateFacultyForm" class="form-horizontal custom-form" role="form" ng-submit="updateFaculty(updateFacultyForm)" novalidate>

										<div class="form-group">
											<label  class="col-md-12 control-label" for="lastName">Last Name <i class="glyphicon glyphicon-question-sign" title="Must only have letters, space, and certain special characters (.  ,' -)"></i></label>
											<div class="col-md-12">
												<input type="text" class="form-control" id="lastName" name="lastName" ng-model="lastName" pattern="^[a-zA-Z ,.'-]+$" required/>
											</div>
										</div>
										<div ng-messages="updateFacultyForm.lastName.$error" ng-show="updateFacultyForm.$submitted">
											<p class="invalid-text" ng-message="pattern">Must only have letters, space, and certain special characters (.  ,' -)</p>
											<p class="invalid-text" ng-message="required">This field is required</p>
										</div>


										<div class="form-group">
											<label  class="col-md-12 control-label" for="firstName">First Name <i class="glyphicon glyphicon-question-sign" title="Must only have letters, space, and certain special characters (.  ,' -)"></i></label>
											<div class="col-md-12">
												<input type="text" class="form-control" id="firstName" name="firstName" ng-model="firstName" pattern="^[a-zA-Z ,.'-]+$" required/>
											</div>
										</div>
										<div ng-messages="updateFacultyForm.firstName.$error" ng-show="updateFacultyForm.$submitted">
											<p class="invalid-text" ng-message="pattern">Must only have letters, space, and certain special characters (.  ,' -)</p>
											<p class="invalid-text" ng-message="required">This field is required</p>
										</div>


										<div ng-messages="updateFacultyForm.level.$error" ng-show="updateFacultyForm.$submitted">
											<p class="invalid-text" ng-message="required">This field is required</p>
										</div>

										<div class="updateBtn">
											<button type="submit" class="btn btn-primary pull-right" ng-disabled="disableUpdateBtn">{{updateBtn}}</button>
										</div>

								</form>

					</div>

				</div>

			</div>
		</div><!-- modal closing tag -->




</body>
