<head>
  <title>ACE Program | Summary</title>

  <link rel="stylesheet" type="text/css" href="css/admin/summary.css">
</head>

<body>

  <div ng-show="!isLoading">

  	<div class="banner">
  		<div class="button-container col-md-12">
  						<div class="schoolYear col-md-2">
                <select ng-model="selectedSY" ng-change="getSummaryData()">
            	    	<option ng-repeat="year in SYList" ng-selected="$last" ng-value="year.school_year">{{year.school_year}}</option>
            	    	<option ng-show="isEmptySYList" value="" selected="selected">No Records</option>
            	   </select>
  						</div>
  		</div>

  		<img src="img/header1.png" class="img-responsive">
  	</div>


<!--	<div ng-show="!isLoading">

		<select ng-model="selectedSY" ng-change="getSummaryData()">
	    	<option ng-repeat="year in SYList" ng-selected="$last" ng-value="year.school_year">{{year.school_year}}</option>
	    	<option ng-show="isEmptySYList" value="" selected="selected">No Records</option>
	    </select-->
      <div class="manageAdmin col-md-12 col-md-offset-0 formContainer">
        <div class="col-md-12 manageContainer">

	    <uib-tabset active="activeJustified" justified="true">

		  <uib-tab class="label" index="0" heading="Term">
		  	<div ng-show="!isLoadingChart">
			  	<div class="col-md-11">
					   <canvas id="term" class="chart chart-bar" chart-data="termData" chart-labels="termLabels" chart-series="series" chart-options="termOptions" chart-dataset-override="datasetOverride"></canvas>
				  </div>
  				<a class="btn btn-info" id="downloadImg1" ng-click="downloadImage($event, 'term')">Save as Image</a>
  				<a class="btn btn-info" id="downloadPDF1" ng-click="downloadPDF('term')">Save as PDF</a>
  			</div>

			<div class="sk-fading-circle" ng-hide="!isLoadingChart">
			      <div class="sk-circle1 sk-circle"></div>
			      <div class="sk-circle2 sk-circle"></div>
			      <div class="sk-circle3 sk-circle"></div>
			      <div class="sk-circle4 sk-circle"></div>
			      <div class="sk-circle5 sk-circle"></div>
			      <div class="sk-circle6 sk-circle"></div>
			      <div class="sk-circle7 sk-circle"></div>
			      <div class="sk-circle8 sk-circle"></div>
			      <div class="sk-circle9 sk-circle"></div>
			      <div class="sk-circle10 sk-circle"></div>
			      <div class="sk-circle11 sk-circle"></div>
			      <div class="sk-circle12 sk-circle"></div>
			</div> <!-- spinner -->
		  </uib-tab>

		  <uib-tab index="1" heading="Program">
		  	<div ng-show="!isLoadingChart" class="chart-holder">
			  	<div class="col-md-11">
					<canvas id="program" class="chart chart-bar" chart-data="programData" chart-labels="programLabels" chart-series="series" chart-options="programOptions" chart-dataset-override="datasetOverride">
					</canvas>
				</div>
				<a class="btn btn-info" id="downloadImg2" ng-click="downloadImage($event, 'program')">Save as Image</a>
				<a class="btn btn-info" id="downloadPDF2" ng-click="downloadPDF('program')">Save as PDF</a>
			</div>

			<div class="sk-fading-circle" ng-hide="!isLoadingChart">
			      <div class="sk-circle1 sk-circle"></div>
			      <div class="sk-circle2 sk-circle"></div>
			      <div class="sk-circle3 sk-circle"></div>
			      <div class="sk-circle4 sk-circle"></div>
			      <div class="sk-circle5 sk-circle"></div>
			      <div class="sk-circle6 sk-circle"></div>
			      <div class="sk-circle7 sk-circle"></div>
			      <div class="sk-circle8 sk-circle"></div>
			      <div class="sk-circle9 sk-circle"></div>
			      <div class="sk-circle10 sk-circle"></div>
			      <div class="sk-circle11 sk-circle"></div>
			      <div class="sk-circle12 sk-circle"></div>
			</div> <!-- spinner -->
		  </uib-tab>

		  <uib-tab index="2" heading="Grade/Year Level">
		  	<div ng-show="!isLoadingChart">
			  	<div class="col-md-11">
					<canvas id="level" class="chart chart-bar" chart-data="levelData" chart-labels="levelLabels" chart-series="series" chart-options="levelOptions" chart-dataset-override="datasetOverride">
					</canvas>
				</div>
				<a class="btn btn-info" id="downloadImg3" ng-click="downloadImage($event, 'level')">Save as Image</a>
				<a class="btn btn-info" id="downloadPDF3" ng-click="downloadPDF('level')">Save as PDF</a>
			</div>

			<div class="sk-fading-circle" ng-hide="!isLoadingChart">
			      <div class="sk-circle1 sk-circle"></div>
			      <div class="sk-circle2 sk-circle"></div>
			      <div class="sk-circle3 sk-circle"></div>
			      <div class="sk-circle4 sk-circle"></div>
			      <div class="sk-circle5 sk-circle"></div>
			      <div class="sk-circle6 sk-circle"></div>
			      <div class="sk-circle7 sk-circle"></div>
			      <div class="sk-circle8 sk-circle"></div>
			      <div class="sk-circle9 sk-circle"></div>
			      <div class="sk-circle10 sk-circle"></div>
			      <div class="sk-circle11 sk-circle"></div>
			      <div class="sk-circle12 sk-circle"></div>
			</div> <!-- spinner -->
		  </uib-tab>

		  <uib-tab index="3" heading="Reason">
		  	<div ng-show="!isLoadingChart">
				<div class="col-md-11">
					<canvas id="reason" class="chart chart-bar" chart-data="reasonData" chart-labels="reasonLabels" chart-series="series" chart-options="reasonOptions" chart-dataset-override="datasetOverride">
					</canvas>
				</div>
				<a class="btn btn-info" id="downloadImg4" ng-click="downloadImage($event, 'reason')">Save as Image</a>
				<a class="btn btn-info" id="downloadPDF4" ng-click="downloadPDF('reason')">Save as PDF</a>
			</div>

			<div class="sk-fading-circle" ng-hide="!isLoadingChart">
			      <div class="sk-circle1 sk-circle"></div>
			      <div class="sk-circle2 sk-circle"></div>
			      <div class="sk-circle3 sk-circle"></div>
			      <div class="sk-circle4 sk-circle"></div>
			      <div class="sk-circle5 sk-circle"></div>
			      <div class="sk-circle6 sk-circle"></div>
			      <div class="sk-circle7 sk-circle"></div>
			      <div class="sk-circle8 sk-circle"></div>
			      <div class="sk-circle9 sk-circle"></div>
			      <div class="sk-circle10 sk-circle"></div>
			      <div class="sk-circle11 sk-circle"></div>
			      <div class="sk-circle12 sk-circle"></div>
			</div> <!-- spinner -->
		  </uib-tab>

		  <uib-tab index="4" heading="Report Status">
		  	<div ng-show="!isLoadingChart">
				<div class="col-md-11">
					<canvas id="status" class="chart chart-bar" chart-data="statusData" chart-labels="statusLabels" chart-series="series" chart-options="statusOptions" chart-dataset-override="datasetOverride">
					</canvas>
				</div>
				<a class="btn btn-info" id="downloadImg5" ng-click="downloadImage($event, 'status')">Save as Image</a>
				<a class="btn btn-info" id="downloadPDF5" ng-click="downloadPDF('status')">Save as PDF</a>
			</div>

			<div class="sk-fading-circle" ng-hide="!isLoadingChart">
			      <div class="sk-circle1 sk-circle"></div>
			      <div class="sk-circle2 sk-circle"></div>
			      <div class="sk-circle3 sk-circle"></div>
			      <div class="sk-circle4 sk-circle"></div>
			      <div class="sk-circle5 sk-circle"></div>
			      <div class="sk-circle6 sk-circle"></div>
			      <div class="sk-circle7 sk-circle"></div>
			      <div class="sk-circle8 sk-circle"></div>
			      <div class="sk-circle9 sk-circle"></div>
			      <div class="sk-circle10 sk-circle"></div>
			      <div class="sk-circle11 sk-circle"></div>
			      <div class="sk-circle12 sk-circle"></div>
			</div> <!-- spinner -->
		  </uib-tab>

		</uib-tabset>

	</div>

	<div class="sk-fading-circle" ng-hide="!isLoading">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
  	</div> <!-- spinner -->

  </div>
  </div>
</body>
