@font-face {
    font-family: acre-regular;
    src: url('../../fonts/acre-regular.ttf');
}

body {
    background-color: #dfe3ee;
    font-weight: 500;
    font-size: 1.05em;
    font-family: gotham-book;
}

a:focus, a:hover, a {
    outline: none;
    text-decoration: none;
}

.no-side-padding {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.template-container .content-col{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*------------------------------Navbar-----------------------*/

.main-header{
    min-height: 100%;
    z-index: 1000;
    box-shadow: 1px 2px 2px #000000;
    background: rgba(14,43,98,1);
    background: -moz-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(14,43,98,1)), color-stop(100%, rgba(64,144,181,1)));
    background: -webkit-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
    background: linear-gradient(135deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e2b62', endColorstr='#4090b5', GradientType=1 );

    /*background: rgba(14,43,98,1);
    background: -moz-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 66%, rgba(125,204,178,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(14,43,98,1)), color-stop(66%, rgba(64,144,181,1)), color-stop(100%, rgba(125,204,178,1)));
    background: -webkit-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 66%, rgba(125,204,178,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 66%, rgba(125,204,178,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 66%, rgba(125,204,178,1) 100%);
    background: linear-gradient(135deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 66%, rgba(125,204,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e2b62', endColorstr='#7dccb2', GradientType=1 );*/

}

/*----------USER----------*/
.navbar-custom-menu .user-menu span{
  color:white;
  font-size: 14px;
}

.navbar-custom-menu .dropdown-menu{
  background: rgba(14,43,98,1);
  background: -moz-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(14,43,98,1)), color-stop(100%, rgba(64,144,181,1)));
  background: -webkit-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
  background: linear-gradient(135deg, rgba(14,43,98,1) 0%, rgba(64,144,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e2b62', endColorstr='#4090b5', GradientType=1 );
}


/*
.nav-bar {
    height: 10%;
}

.nav-bar-col{
    min-height: 100%;
    background-color: #10326F;
    box-shadow: 1px 2px 2px #000000;
    z-index: 1000;
}

.nav-bar-col .logo img {
    float: left;
    width: 8.5vh;
    padding-top: 1.4vh;
    padding-left: 1.4vh;
}


.nav-bar-col .logo p {
    float: left;
    color: white;
    font-size: 2vh;
    letter-spacing: 0.3vh;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: acre-regular;
    padding-top: 2.2vh;
    padding-left: 1.6vh;
}

/*.nav-bar-col .fa-sign-out {
    padding-top: 3.6vh;
    padding-right: 2.5vh;
    font-size: 3vh;
    color: white;
    float: right;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
}*/
/*
.nav-bar-col .navbar-nav .dropdown{
  float: right;
  color: white;
  font-size: 2vh;
  margin-top: 2vh;
  width: 26vh;
}

.nav-bar-col .navbar-nav .dropdown .dropdown-toggle{
  color: white;
}

.nav-bar-col .navbar-nav .setting .fa{
  display: inline-block;
  text-align: right;
  margin-left: 50px;
}

.nav-bar-col .pull-right img{
  margin-right:5vh;
  width: 6.5vh;
  height: 6.5vh;
  margin-top: 2vh;
}
*/

/*------------------------------side menu----------------------->*/

aside{
  background: #1B4678;
  height: 10px;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100% !important;
  max-height: 100% !important;
}

.menu-content-row {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.navi a {
    border-bottom: 2px solid #1b2428;
    color: #ffffff;
    display: table;
    position: relative;
    font-size: 14px;
    padding: 30px 10px 30px 20px;
    width: 100%;
}

.navi a:hover {
    background: #152f41 none repeat scroll 0 0;
      border-left: 5px solid #ff7f00;
    padding-left: 20px;
    text-decoration: none;
	  -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #ffffff;
}

.navi a:focus{
  color:#ffffff;
}

.navi i {
    color: #539BBE;

}

.navi .fa {
    vertical-align: middle;
    padding-right: 5px;
    font-size: 20px;
}

.navi .nav-text {
    position: relative;
    vertical-align: middle;
}

.navi .nav-text .badge {
    float: right;
    background-color: #EF5068;
    margin-top: 0.7px;
    font-size: 12px;
    width: auto;
}


/*--------------content area--------------*/

.content-wrapper .content-col{
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
