@font-face {
    font-family: acre-regular;
    src: url('../../fonts/acre-regular.ttf');
}

body {
    font-weight: 500;
    font-size: 1.05em;
    font-family: gotham-book;
}

.summaryTab {
  background: #152F41 none repeat scroll 0 0;
  border-left: 5px solid #ff7f00;
  padding-left: 25px;
  text-decoration: none;
}

/*----------------------------*/


.banner img {
  width: 100%;
  height: 165px;
  margin-top: -8vh;
  z-index: -1;
  position: static;
  -ms-user-select: none;      /* IE 10+ */
  -moz-user-select: none;     /* Firefox all */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  user-select: none;          /* Likely future */
  image-rendering: -moz-pixelated;         /* Firefox */
  image-rendering:   -o-pixelated;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.schoolYear select{
  text-decoration: none;
  margin-left: 3vh;
  margin-top: 35px;
  font-size: 13px;
  position: absolute;
  height: 33px;
}

.school-term select{
  text-decoration: none;
  margin-left: 5vh;
  margin-top: 35px;
  font-size: 13px;
  position: absolute;
  height: 33px;
}

.manageAdmin{
  margin-top: -90px;
  width: 95%;
  margin-left: 8vh;
}

li.active .ng-binding{
  color: #ffffff !important;
  background-color: #5c8400 !important;
  text-decoration: none;
  font-size: 14px;
}

li a.ng-binding{
  color: #ffffff;
  background-color: rgba(132, 189, 0, 0.5);
  text-decoration: none;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  font-size: 14px;
}

.nav-tabs > li > a {
      margin-left: -9px;
}

.nav-tabs{
  border-bottom: none;
  margin-left: 25px;
}


li a:hover.ng-binding{
  font-size: 14px;
  background-color: #5c8400;
  color: #ffffff;
}

.chart-holder{
  margin
}

.btn{
  margin-top: 15px;
  margin-right: 10px;
}

.save-pdf{
  margin-right: 100px;
}
