@font-face {
    font-family: gotham-bold;
    src: url('../../fonts/gotham-bold.ttf');
}

@font-face {
    font-family: acre-regular;
    src: url('../../fonts/acre-regular.ttf');
}

html, body {
    min-height: 100%;
}

body {
    /*background: url(../../img/05.jpg) no-repeat center center fixed;*/
    background-color: #F2F3F5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: 500;
    font-size: 1.05em;
    font-family: gotham-book;
}

/*--------------------------*/

.container{
  margin-top: 8%;
  /*border: 2px solid;*/
  /*border-bottom: 3px solid #7CA988;*/
}

.container img{
  width: 200px;
  height: 300px;
  display: inline-block;
}

.container .message {
  display: inline-block;
}

.container .message h1{
  font-family: gotham-bold;
  color: #568362;
  font-size: 50px;
  letter-spacing: 15px;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.container .message p{
  font-family: acre-regular;
  color: #314E55;
  font-size: 14px;
  text-align: left;
}

.container .sign-in button {
    display: block;
    margin-top: 15%;
    float: left;
    width: 50%;
    height: 50px;
    background-color: #8CC63F;
    outline: none;
    border: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-style: bold;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 5px solid #628a2c;
}

.container .sign-in button:hover{
  background-color: #7eb238;
}

.container .sign-in button:active{
  background-color: #628a2c;
  border-bottom: 5px solid #8CC63F;
}

.container .sign-in span {
    display: inline-block;
    position: relative;
    transition: 0.2s;
    color: white;
}

.container .sign-in span:after {
    content: "\f060";
    font-family: FontAwesome;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 10px;
    transition: 0.2s;
    color: white;
}

.container .sign-in button:hover span {
    padding-right: 25px;
}

.container .sign-in button:hover span:after {
    opacity: 1;
    right: 0;
}
