@font-face {
    font-family: biko-regular;
    src: url('../../fonts/biko-regular.otf');
}

@font-face {
    font-family: sketch-college;
    src: url('../../fonts/sketch-college.ttf');
}

@font-face {
    font-family: acre-regular;
    src: url('../../fonts/acre-regular.ttf');
}

html, body {
    min-height: 100%;
    overflow: hidden;
}

body {
    background: url(../../img/7.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: 500;
    font-size: 1.05em;
    font-family: gotham-book;
}

/*--------------------------*/

.container .box img{
  height: 1100px;
  margin-top: 50px;
  margin-left: -280px;
  position: absolute;
}

.header h1{
  font-family: sketch-college;
  margin-top: 80px;
  margin-left: 80px;
  color: white;
  font-size: 200px;
  letter-spacing: 8px;
}

.text p{
  font-family: biko-regular;
  color: white;
  font-size: 45px;
  margin-top: 280px;
  z-index: 100;
  position: relative;
  margin-left: 50px;
}

.text h6{
  color: white;
  font-size: 15px;
  font-family: acre-regular;
  text-align: center;
}

hr{
  border: 0;
  border-top: 5px double white;
}

a{
  color: #8CC63F;
  text-decoration: none;
  font-weight: 900;
}

a:hover{
  text-decoration: none;
  color: #8CC63F;
}
