<head>
  <title>Page Not Found</title>

  <link rel="stylesheet" type="text/css" href="css/common/404-inside.css">
</head>

<body>

  <div class="container col-md-8 col-md-offset-2">
    <center>
      <img src="img/404.png" />

      <div class="message">
        <h1 class="form-group">SORRY!</h1>
        <p>
          We can't seem to find the page you were looking for.<br />
          Click the button below to go back.
        </p>

        <a class="sign-in" href="javascript:history.back()">
          <button type="submit">
              <span>
                  GO BACK
              </span>
          </button>
        </a>
      </div>
    </center>

  </div>

</body>
