<head>

    <title>Page Not Found</title>

    <link rel="stylesheet" type="text/css" href="css/common/404.css">

</head>

<body>

    <div class="container col-md-12 col-md-offset-0">
      <center>
        <img src="img/404.png" class="img-responsive"/>

        <div class="message">
          <h1 class="form-group">SORRY!</h1>
          <p>
              We can't seem to find the page you were looking for.<br />
              You could head straight back to our sign in page<br />
              by clicking the button below.
          </p>

          <a class="sign-in" ui-sref="login">
            <button type="submit">
                <span>
                    BACK TO SIGN IN PAGE
                </span>
            </button>
          </a>
        </div>


      </center>
    </div>



</body>
