<head>

  <title>Error!</title>

  <link rel="stylesheet" type="text/css" href="css/common/forgot-password.css">

</head>

<body>

  </br></br></br></br>

  <center>
      <img src="img/warning.png" height="210" width = "230">
  </center>

  <div class="forgotPassword col-md-6 col-md-offset-3">
    <center>
      <h3 class="form-group">
        Oops!
        </br></br>
        This link may have already been </br> expired.
      </h3>
    </center>

    <br></br></br></br><br></br></br></br><br>

    <center>
     
      <a ui-sref="login">
        <h4>Go back to sign in page</h4>
      </a>

    </center>

  </div>

</body>
