<head>

  <title>Error!</title>

  <link rel="stylesheet" type="text/css" href="css/common/error-invalid-link.css">

</head>

<body>

  <div class="container">
    <center>

      <img src="img/warning.png" />

      <div class="article">

        <h2>OOPS</h2>
        <p>
          We apologize but this link is already expired.<br />
          Click the button below to go back.
        </p>

        <a class="sign-in" href="javascript:history.back()">
          <button type="submit">
              <span>
                  GO BACK
              </span>
          </button>
        </a>
      </div>

    </center>
  </div>

</body>
