    <head>

        <title>Forgot Password</title>

        <link rel="stylesheet" type="text/css" href="css/common/forgot-password.css">

    </head>

    <body>

        <div class="forgotPassword col-md-6 col-md-offset-3">
            <center>
                <img src="img/forgot.png">
            </center>

            <center>
                <h3 class="form-group">FORGOT YOUR PASSWORD?</h3>
            </center>

            <div class="message col-md-10 col-md-offset-1">
                <center>
                    <p>
                        To reset your password, enter the email address registered on your account and we will send you a password reset instructions.
                    </p>
                </center>
            </div>
        </div>

        <div class="container">

            <div class="mainbox col-md-4 col-md-offset-4">
                <form class="loginForm" name="loginForm" role="form" ng-submit="verifyEmail(loginForm)" novalidate>


                    <div class="errorMessage" ng-if="loginForm.$submitted && incorrectInput">
                        <i class="fa fa-exclamation-circle"></i>
                        {{errMsg}}
                    </div>

                    <div class="errorMessage" ng-if="loginForm.$submitted && invalidInput">
                        <i class="fa fa-exclamation-circle"></i>
                        {{errMsg}}
                    </div>
            
                    <div class="successMessage" ng-if="validEmail">
                        We have sent you an email containing instructions on how to reset your password.
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon col-md-off-set-1">
                                <i class="fa fa-envelope-o fa-fw fa-lg"></i>
                            </span>
                        <input type="email" auto-focus validate-email required class="form-control" name="email" id="login-email" placeholder="Enter Email Address" ng-Model="userEmail">
                        <div class="e col-md-offset-11" ng-if="loginForm.email.$dirty && loginForm.email.$invalid || loginForm.$submitted && loginForm.email.$invalid">
                            <i class="fa fa-times-circle fa-lg"></i>
                        </div>
                        <div class="e col-md-offset-11" ng-if="loginForm.email.$valid">
                            <i class="fa fa-check-circle fa-lg"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row-md-1 control">
                            <button class="button" type="submit" ng-disabled="disableLogin">
                                    <span>
                                        {{resetText}}
                                    </span>
                                </button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4 control">
                    <a class="goBack" ui-sref="login">Back to sign in page</a>
                </div>
            </div>

        </div>

    </body>
