<head>

    <title>Reset Password</title>

    <link rel="stylesheet" type="text/css" href="css/common/reset-password.css">

</head>

<body>

    <div ng-init="verifyURL()" ng-show="showResetPassForm">
        <div class="forgotPassword col-md-6 col-md-offset-3">
            <center>
                <img src="img/reset-password.png">
            </center>

            <center>
                <h2 class="form-group">RESET PASSWORD</h2>
                <p>Password must be a combination of letters and numbers with atleast 8 characters.</p>
            </center>
        </div>

        <div class="container">

            <div class="mainbox col-md-4 col-md-offset-4">
                <form class="loginForm" name="loginForm" role="form" ng-submit="confirmReset(loginForm)" novalidate>

                    <div class="errorMessage" ng-if="loginForm.$submitted && invalidPword">
                        <i class="fa fa-exclamation-circle"></i>
                        {{errMsg}}
                    </div>

                    <div class="errorMessage" ng-if="loginForm.$submitted && invalidInput">
                        <i class="fa fa-exclamation-circle"></i>
                        {{errMsg}}
                    </div>

                    <div class="errorMessage" ng-if="loginForm.$submitted && incorrectInput">
                        <i class="fa fa-exclamation-circle"></i>
                        {{errMsg}}
                    </div>

                    <div class="successMessage" ng-if="pwordChanged">
                        Password successfully updated
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon col-md-off-set-1">
                            <i class="fa fa-key fa-fw fa-lg"></i>
                        </span>
                        <input type="password" autoFocus required class="form-control" name="password" placeholder="Enter Password" ng-Model="userPassword" pattern="^.*(?=.*\d)(?=.*[A-Za-z]).*$" minlength="8" ng-model-options="{allowInvalid: true}">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon col-md-off-set-1">
                                <i class="fa fa-key fa-fw fa-lg"></i>
                            </span>
                        <input type="password" required class="form-control" name="confirmpassword" placeholder="Confirm Password" ng-Model="userConfirmPassword" compare-to="userPassword" ng-model-options="{allowInvalid: true}">
                    </div>

                    <div class="form-group">
                        <div class="row-md-1 control">
                            <button class="button" type="submit" ng-disabled="disableLogin">
                                    <span>
                                        {{resetText2}}
                                    </span>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4 control">
                    <a class="goBack" ui-sref="login">Back to sign in page</a>
                </div>
            </div>

        </div>


    </div>

</body>
