    <head>

        <link rel="stylesheet" type="text/css" href="css/faculty/faculty.css">

    </head>

    <body>

        <div class="template-container" ng-show="referralUpdateCount!=null && newMessageCount!=null">
            <div class="row nav-bar">
                <div class="col-md-12 nav-bar-col no-side-padding">

                    <img src="img/logo1.jpg">
                    <p>ACE Program<br />Online Referral System</p>

                    <a ui-sref="login" ng-click="logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>

                </div>
            </div>

            <div class="row menu-content-row">

                <div class="col-md-2 menu-col no-side-padding">
                    <ul class="navi list-unstyled">
                        <li>
                            <a ui-sref="faculty.referralForm" class="referralTab">
                                <i class="fa fa-pencil-square-o"></i>
                                <span class="nav-text">Referral Form<span class="badge" ng-show="referralUpdateCount">{{referralUpdateCount}}</span></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="faculty.messaging" class="messageTab">
                                <i class="fa fa-envelope"></i>
                                <span class="nav-text">Messages <span class="badge" ng-show="newMessageCount">{{newMessageCount}}</span></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="faculty.settings" class="settingTab">
                                <i class="fa fa-cog"></i>
                                <span class="nav-text">Settings</span>
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-md-10 content-col no-side-padding" ui-view></div>

            </div>
        </div>

    </body>
