<head>
  <title>ACE Program | Referral</title>

  <link rel="stylesheet" type="text/css" href="css/faculty/referral-form.css">
</head>

<body>

      <form class="refForm col-md-12" ng-submit="submitReferral()" name="refForm" id="refForm" novalidate>
          <div class="row col-md-12 col-md-offset-0 formContainer">

              <div class="panel panel-default">

                <div class="panel-heading">

                  <h1 class="panel-title">Student Information</h1>

                </div>

                <!--div class="row buttons historyDiv">
                  <div class="btns pull-right">
                    <button class="historyBtn btn"><i class="fa fa-history" aria-hidden="true"></i> History</button>
                  </div>
                </div-->

                <div class="panel-body studInfo">

                  <!---------------------------------------------------------------------->

                  <div class="studentID col-md-4">
                    <span class="input-label">Student ID:</span>

                    <div class="style-select">
                      <input name="studId" type="text" ng-Model="studId" uib-typeahead="students.student_id for students in getStudentInfo($viewValue)" typeahead-on-select="onSelect($item, $model, $label)" typeahead-min-length="6" class="form-control" id="studId" placeholder="ex. 2014-12345" pattern=".*(\d{4}-\d{5}).*" required>
                      <div ng-messages="refForm.studId.$error" ng-show="refForm.studId.$touched && !refForm.studId.$valid">
                        <span class="fa fa-exclamation-circle errspan" ng-message="pattern" title="Invalid format!" data-toggle="tooltip" data-placement="auto"></span>
                        <span class="fa fa-exclamation-circle errspan" ng-message="required" title="Fill out this field!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!--div ng-messages="refForm.studId.$error" ng-show="refForm.studId.$touched && !refForm.studId.$valid">
                      <p class="error-message" ng-message="required">This is required!</p>
                      <p class="error-message" ng-message="pattern">Invalid format</p>
                    </div-->
                  </div>

                  <!---------------------------------------------------------------------->

                  <div class="lastName col-md-4">
                    <span class="input-label">Last Name:</span>

                    <div class="style-select">
                      <input name="studLName" type="text" ng-Model="studLName" class="form-control" id="studLName" placeholder="ex. Dela Cruz" required>
                      <div ng-messages="refForm.studLName.$error" ng-show="refForm.studLName.$touched && !refForm.studLName.$valid">
                        <span class="fa fa-exclamation-circle errspan" ng-message="pattern" title="Invalid format!" data-toggle="tooltip" data-placement="auto"></span>
                        <span class="fa fa-exclamation-circle errspan" ng-message="required" title="Fill out this field!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!--div ng-messages="refForm.studLName.$error" ng-show="refForm.studLName.$touched && !refForm.studLName.$valid">
                      <p class="error-message" ng-message="required">This is required!</p>
                    </div-->
                  </div>

                  <!---------------------------------------------------------------------->

                  <div class="firstName col-md-4">
                    <span class="input-label">First Name:</span>

                    <div class="style-select">
                      <input name="studFName" type="text" ng-Model="studFName" class="form-control" id="studFName" placeholder="ex. Juan Jr." required>
                      <div ng-messages="refForm.studFName.$error" ng-show="refForm.studFName.$touched && !refForm.studFName.$valid">
                        <span class="fa fa-exclamation-circle errspan" ng-message="required" title="Fill out this field!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!--div ng-messages="refForm.studFName.$error" ng-show="refForm.studFName.$touched && !refForm.studFName.$valid">
                      <p class="error-message" ng-message="required">This is required!</p>
                    </div-->
                  </div>

                  <!---------------------------------------------------------------------->

                  <div class="schoolYear col-md-2">
                    <span class="input-label">School Year:</span>

                    <div class="style-select">
                      <select class="form-control" name="schoolYear" id="schoolYear" ng-model="schoolYear" required>
                        <option disabled selected value></option>
                        <option value="{{firstSY}}">{{firstSY}}</option>
                        <option value="{{secondSY}}">{{secondSY}}</option>
                        <option value="{{thirdSY}}">{{thirdSY}}</option>
                      </select>

                      <div ng-messages="refForm.schoolYear.$error" ng-show="refForm.schoolYear.$touched && !refForm.schoolYear.$valid">
                        <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="This field is required!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!--div ng-messages="refForm.schoolYear.$error" ng-show="refForm.schoolYear.$touched && !refForm.schoolYear.$valid">
                      <p class="error-message" ng-message="required">This is required!</p>
                    </div-->
                  </div>

                  <!---------------------------------------------------------------------->

                  <div class="schoolTerm col-md-2">
                    <span class="input-label">Term:</span>

                    <div class="style-select">
                      <select class="form-control" name="schoolTerm" id="schoolTerm" ng-model="schoolTerm" required>
                        <option disabled selected value>  </option>
                        <option value="1">1st Term</option>
                        <option value="2">2nd Term</option>
                        <option value="3">3rd Term</option>
                      </select>

                      <div ng-messages="refForm.schoolTerm.$error" ng-show="refForm.schoolTerm.$touched && !refForm.schoolTerm.$valid">
                        <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="This field is required!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!--div ng-messages="refForm.schoolTerm.$error" ng-show="refForm.schoolTerm.$touched && !refForm.schoolTerm.$valid">
                      <p class="error-message" ng-message="required">This is required!</p>
                    </div-->
                  </div>

                  <!---------------------------------------------------------------------->

                  <div class="subjName col-md-4">
                    <span class="input-label">Subject Name:</span>

                    <div class="style-select">
                      <input class="form-control" type="text" name="subjName" id="subjName" ng-Model="subjName" placeholder="ex. Core Java 1" required>
                      <div ng-messages="refForm.subjName.$error" ng-show="refForm.subjName.$touched && !refForm.subjName.$valid">
                        <span class="fa fa-exclamation-circle errspan" ng-message="required" title="Fill out this field!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!--div ng-messages="refForm.subjName.$error" ng-show="refForm.subjName.$touched && !refForm.subjName.$valid">
                      <p class="error-message" ng-message="required">This is required!</p>
                    </div-->
                  </div>

                  <!---------------------------------------------------------------------->

                  <div class="department col-md-4">
                    <span class="input-label">Department:</span>

                    <div class="style-select">
                      <select class="form-control" name="department" id="department" ng-model="department" ng-change="resetInput()" required>
                        <option disabled selected value> -- Select Department -- </option>
                        <option value="1">Senior High School</option>
                        <option value="2">College</option>
                      </select>

                      <div ng-messages="refForm.department.$error" ng-show="refForm.department.$touched && !refForm.department.$valid">
                        <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="This field is required!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!--div ng-messages="refForm.department.$error" ng-show="refForm.department.$touched && !refForm.department.$valid">
                      <p class="error-message" ng-message="required">This is required!</p>
                    </div-->
                  </div>

                  <!---------------------------------------------------------------------->

                  <div class="level col-md-4" ng-if="department">
                    <span ng-if="department==1" class="input-label">Grade Level:</span>

                    <div ng-if="department==1" class="style-select">
                      <select class="form-control" name="year" id="year" ng-model="year" ng-disabled="!department" required>
                        <option disabled selected value> -- Select Grade Level -- </option>

                        <option ng-if="department==1" value="1">Grade 11</option>
                        <option ng-if="department==1" value="2">Grade 12</option>
                      </select>

                      <div ng-messages="refForm.year.$error" ng-show="refForm.year.$touched && !refForm.year.$valid">
                        <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="This field is required!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!---SELECT YEAR LEVEL--->
                    <span ng-if="department==2" class="input-label">Year Level:</span>

                    <div ng-if="department==2" class="style-select">
                      <select class="form-control" name="year" id="year" ng-model="year" ng-disabled="!department" required>
                        <option disabled selected value> -- Select Year Level -- </option>

                        <option ng-if="department==2" value="1">First Year</option>
                        <option ng-if="department==2" value="2">Second Year</option>
                        <option ng-if="department==2" value="3">Third Year</option>
                        <option ng-if="department==2" value="4">Fourth year</option>

                      </select>

                      <div ng-if="department==2" ng-messages="refForm.year.$error" ng-show="refForm.year.$touched && !refForm.year.$valid">
                        <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="This field is required!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!--div ng-messages="refForm.year.$error" ng-show="refForm.year.$touched && !refForm.year.$valid">
                      <p class="error-message" ng-message="required">This is required!</p>
                    </div-->
                  </div>

                  <!---------------------------------------------------------------------->

                  <div class="courseProgram col-md-8" ng-if="department">
                    <span ng-if="department==1" class="input-label">Program:</span>

                    <div class="style-select" ng-if="department==1">
                      <select ng-if="department==1" class="form-control" name="course" id="course" ng-model="course" ng-disabled="!department" required>
                        <option disabled selected value> -- Select Program -- </option>

                          <optgroup label="Academic Tracks">
                            <option value="1">Humanities And Social Sciences</option>
                            <option value="2">Accountancy Business And Management</option>
                          </optgroup>

                          <optgroup label="Technical Vocational">
                            <option value="3">Computer Programming</option>
                            <option value="4">Animation</option>
                            <option value="5">Fashion Design</option>
                          </optgroup>

                          <optgroup label="Arts and Design Track">
                            <option value="6">Multimedia Arts</option>
                          </optgroup>
                      </select>

                      <div ng-if="department==1" ng-messages="refForm.course.$error" ng-show="refForm.course.$touched && !refForm.course.$valid">
                        <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="This field is required!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>


                    <!---SELECT COURSE--->
                    <span ng-if="department==2" class="input-label">Course:</span>

                    <div class="style-select" ng-if="department==2">
                      <select ng-if="department==2" class="form-control" name="course" id="course" ng-model="course" ng-disabled="!department" required>
                        <option disabled selected value> -- Select Course -- </option>

                          <optgroup label="School of Computing">
                            <option value="1">Software Engineering</option>
                            <option value="2">Game Development</option>
                            <option value="3">Web Development</option>
                          </optgroup>

                          <optgroup label="School of Design">
                            <option value="4">Animation</option>
                            <option value="5">Multimedia Arts</option>
                            <option value="6">Fashion Design</option>
                          </optgroup>

                          <optgroup label="School of Business">
                            <option value="7">Real Estate Management</option>
                            <option value="8">Business Administration</option>
                          </optgroup>
                      </select>

                      <div ng-messages="refForm.course.$error" ng-show="refForm.course.$touched && !refForm.course.$valid">
                        <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="This field is required!" data-toggle="tooltip" data-placement="auto"></span>
                      </div>
                    </div>

                    <!--div ng-messages="refForm.course.$error" ng-show="refForm.course.$touched && !refForm.course.$valid">
                      <p class="error-message" ng-message="required">This is required!</p>
                    </div-->
                  </div>

                </div>

                <!---------------------------------------------------------------------->

                <div class="reasonRef panel-heading custom-panel-header">

                  <h1 class="panel-title">Reason/s for Referral</h1>

                </div>

                <div class="referral panel-body reason-panel-body">

                  <div class="col-md-12 no-side-padding">

                    <!---------------------------------------------------------------------->

                    <div class="row">


                      <div class="col-md-6">
                        <div class="col-md-12">
                          <input type="checkbox" id="reasons[0]" ng-model="reasons[0].check" value="reasons[0].value">
                          <label class="reason-label" for="reasons[0]">{{reasons[0].name}}</label>
                        </div>
                        <div class="col-md-12">
                          <input type="checkbox" id="reasons[1]" ng-model="reasons[1].check" value="reasons[1].value">
                          <label class="reason-label" for="reasons[1]">{{reasons[1].name}}</label>
                        </div>
                        <div class="col-md-12">
                          <input type="checkbox" id="reasons[2]" ng-model="reasons[2].check" value="reasons[2].value">
                          <label class="reason-label" for="reasons[2]">{{reasons[2].name}}</label>
                        </div>
                        <div class="col-md-12">
                          <input type="checkbox" id="reasons[3]" ng-model="reasons[3].check" value="reasons[3].value">
                          <label class="reason-label" for="reasons[3]">{{reasons[3].name}}</label>
                        </div>
                        <div class="col-md-12">
                          <input type="checkbox" id="reasons[4]" ng-model="reasons[4].check" value="reasons[4].value">
                          <label class="reason-label" for="reasons[4]">{{reasons[4].name}}</label>
                        </div>
                         <div class="col-md-12">
                          <input type="checkbox" id="reasons[5]" ng-model="reasons[5].check" value="reasons[5].value">
                          <label class="reason-label" for="reasons[5]">{{reasons[5].name}}</label>
                        </div>
                      </div>

                      <div class="col-md-6">

                            <input type="checkbox" id="iba" ng-model="reasons[6].check" value="reasons[6].value">
                            <label class="reason-label" for="iba">{{reasons[6].name}}</label>

                        <div class="col-md-12 otherReason">
                          <textarea class="col-md-11" id="others" name="others" ng-disabled="!reasons[6].check" ng-model="reasons[6].value"></textarea>
                        </div>
                      </div>

                    </div>

                  <!---------------------------------------------------------------------->

                  </div>

                </div>

              </div>

              <div class="buttons custom-btn-list col-md-12 col-md-offset-0">

                <div class="btns pull-right">
                  <button class="resetBtn btn" type="reset" ng-click="resetForm()">Reset</button>
                  <button id="refFormButton" class="submitBtn btn" type="submit" ng-disabled="refForm.$invalid || checkedReasons" title="Please complete the form" data-toggle="tooltip" data-placement="auto" tooltip>Submit</button>
                </div>

              </div>

          </div>
      </form>
</body>
