
<head>
	<title>ACE Program | Referral History </title>

	<link rel="stylesheet" type="text/css" href="css/faculty/referral-history.css">
</head>

<body>

<div>
	<div ng-show="!isLoading">

	    <select ng-model="selectedSY" ng-change="updateSYList()">
	    	<option ng-show="SYList.length > 0" ng-repeat="year in SYList" ng-selected="$first" ng-value="year.school_year">{{year.school_year}}</option>
	    	<option ng-hide="SYList.length > 0" value="" selected="selected">No Records</option>
	    </select>

		<div class="input-group">

			<input type="text" class="form-control" ng-model="searchBox" placeholder="&#xF002; Search " style="font-family:Arial, FontAwesome" />

		</div>

		<div class="dropdown">

			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    	Select
		    	<span class="caret"></span>
			</button>

			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:void(0)" ng-click="selectAllRead()">All read</a></li>
                <li><a href="javascript:void(0)" ng-click="selectAllUnread()">All unread</a></li>
            </ul>

		</div>

		<div class="dropdown">

		  	<button class="btn btn-default dropdown-toggle" type="button" ng-disabled="disableActionBtn()" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    	Action
		    	<span class="caret"></span>
		  	</button>

		  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<li><a href="javascript:void(0)" ng-click="markAsRead()">Mark as read</a></li>
		    	<li><a href="javascript:void(0)" ng-click="markAsUnread()">Mark as unread</a></li>
		  	</ul>

		</div>

		<table class="table table-bordered table-condensed table-striped table-condensed table-hover">
			<col width="20">
			<col width="60">
			<col width="60">
			<col width="120">						
			<col width="120">
			<col width="100">
			
				<thead>
					<tr>
						<th><center><input type="checkbox" ng-model="mainCheckbox" ng-change="controlCheckbox()"></center></th>
						<th>DATE</th>
						<th>STUDENT ID</th>
						<th>NAME</th>
						<th>COURSE</th>
						<th>SUBJECT</th>				
					</tr>
				</thead>
				<tbody>		
						<tr ng-repeat="report in subReports | filter: searchBox | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage" data-toggle="modal" data-target="#viewModal" ng-click="viewReport(report)" ng-class="report.is_updated == 0 ? 'info' : 'success'">
							<td>
								<center><input type="checkbox" data-checklist-model="reportList.report_id" data-checklist-value="report.report_id" noclick></center>
							</td>
							<td>
								{{ report.report_date | date : "MMM d, yyyy"}}
							</td>
							<td>
								{{ report.student_id}}
							</td>
							<td>
								{{ report.student_fullname}}
							</td>
							<td>
								{{ report.program }}
							</td>
							<td>
								{{ report.subject_name }}
							</td>																								
						</tr>

						<tr ng-show="(filtered = (subReports | filter: searchBox)).length == 0">
							<td colspan="6"><center>NO RESULT</center></td>
						</tr>

				</tbody>
		</table>

		<div>
			<ul uib-pagination total-items="(filtered = (subReports | filter: searchBox)).length" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></ul>
		</div>

	</div>

	<div class="sk-fading-circle" ng-hide="!isLoading">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
  	</div> <!-- spinner -->



			<!-- VIEW REPORT -->

				<div id="viewModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<div class="modal-content">
								<div class="modal-header">
									
									<h4 class="modal-title custom-header-color">Report Details</h4>

								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-4">
													<p class="reportFieldLabel"><b>Date: </b> 
													<p class="reportFieldData">{{ selectedReport.report_date | date : "MMMM d, yyyy"}}</p>
												</div>
												<div class="col-md-4">
													<p class="reportFieldLabel"><b>School Year: </b> 
													<p class="reportFieldData">{{ selectedReport.school_year }}</p>
												</div>
												<div class="col-md-4">
													<p class="reportFieldLabel"><b>Term: </b> 
													<p class="reportFieldData">{{ selectedReport.term }}</p>
												</div>											
												
											</div>
											<br>
											<div class="row">
												<div class="col-md-4">
													<p class="reportFieldLabel"><b>Student ID Number: </b> 
													<p class="reportFieldData">{{ selectedReport.student_id }}</p>
												</div>
												<div class="col-md-4">
													<p class="reportFieldLabel"><b>Student Name: </b> 
													<p class="reportFieldData">{{ selectedReport.student_fname }} {{ selectedReport.student_lname }}</p>
												</div>
												<div class="col-md-4">
													<p class="reportFieldLabel"><b>Course: </b> 
													<p class="reportFieldData">{{ selectedReport.program }}</p>
												</div>
												
											</div>
											<br>
											<div class="row">
												<div class="col-md-4">
													<p class="reportFieldLabel"><b>Level: </b> 											
													<p class="reportFieldData">{{ selectedReport.level }}</p>
												</div>
												<div class="col-md-4">
													<p class="reportFieldLabel"><b>Subject: </b>
													<p class="reportFieldData">{{ selectedReport.subject_name }}</p>
												</div>
												<div class="col-md-4">
													<p class="reportFieldLabel"><b>Status: </b> 
													<p class="reportFieldData">{{ selectedReport.report_status }}</p>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-md-6">
													<p class="reportFieldLabel"><b>Reason(s) for Referral: </b> 
													<br>
													<p ng-repeat="reason in reasonList" class="reportFieldData" ng-if="reason != 'N/A'">{{$index + 1}}. {{reason}}</p>
													<p ng-repeat="reason in reasonList" class="reportFieldData" ng-if="reason == 'N/A'">{{reason}}</p>
												</div>
												<div class="col-md-6">
													<p class="reportFieldLabel"><b>Other Reasons: </b> 
													<p class="reportFieldData">{{selectedReport.referral_comment_view}}</p>
												</div>
											</div>
											
										</div>
									</div>
											
								</div>
								<div class="modal-footer">
									
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

										
								</div>
							</div>
						</div>
				</div><!-- modal closing tag -->


</div>

</body>
