<head>
  <title>ACE Program | Referral Form</title>

  <link rel="stylesheet" type="text/css" href="css/faculty/referral-form.css">
</head>

<body>

  <div class="banner">
    <div class="button-container col-md-12">
            <form class="refForm col-md-12" ng-submit="submitReferral(refForm)" name="refForm" id="refForm" novalidate>
                <div class="row col-md-12 col-md-offset-0 formContainer">

                    <div class="panel panel-default">

                      <div class="panel-heading">

                        <h1 class="panel-title">Student Information
                          <span class="pull-right">
                            <i>  All fields are required</i>
                          </span>
                        </h1>

                      </div>

                      <div class="panel-body studInfo">

                        <!---------------------------------------------------------------------->

                        <div class="studentID col-md-4">
                          <span class="input-label">Student ID: </span>

                          <div class="style-select">
                            <input name="studId" type="text" ng-Model="studId" uib-typeahead="students.student_id for students in getStudentInfo($viewValue)" typeahead-on-select="onSelect($item, $model, $label)" typeahead-min-length="1" class="form-control" id="studId" placeholder="Ex. 2014-12345 or 2014SHA12345" pattern="[0-9]{4}(\-[0-9]{5}|SHA[0-9]{5})" required>
                            <div ng-messages="refForm.studId.$error" ng-show="(refForm.studId.$touched || refForm.$submitted) && !refForm.studId.$valid">
                              <span class="fa fa-exclamation-circle errspan" ng-message="pattern" title="Please follow the format (####-#####) or (####SHA#####)." data-toggle="tooltip" data-placement="auto"></span>
                              <span class="fa fa-exclamation-circle errspan" ng-message="required" title="Please fill out this field." data-toggle="tooltip"></span>

                            </div>
                          </div>

                          <div class="error" ng-messages="refForm.studId.$error" ng-show="refForm.studId.$touched && !refForm.studId.$valid">
                            <p class="error-message" ng-message="required">Please fill out this field.</p>
                            <p class="error-pattern" ng-message="pattern">Allowed format:(####-#####) or (####SHA#####)</p>
                          </div>
                        </div>

                        <!---------------------------------------------------------------------->

                        <div class="lastName col-md-4">
                          <span class="input-label">Last Name: </span>

                          <div class="style-select">
                            <input name="studLName" type="text" ng-Model="studLName" uib-typeahead="students.student_fullname for students in getStudentLName($viewValue)" typeahead-on-select="onSelect($item, $model, $label)" typeahead-min-length="1" class="form-control" id="studLName" placeholder="Ex. Dela Cruz" pattern="^[a-zA-Z ,.'-]+$" required>
                            <div ng-messages="refForm.studLName.$error" ng-show="(refForm.studLName.$touched || refForm.$submitted) && !refForm.studLName.$valid">
                              <span class="fa fa-exclamation-circle errspan" ng-message="pattern" title="Allows characters: a-z, A-Z, space and (.,'-)" data-toggle="tooltip" data-placement="auto"></span>
                              <span class="fa fa-exclamation-circle errspan" ng-message="required" title="Please fill out this field." data-toggle="tooltip" data-placement="auto"></span>
                            </div>
                          </div>

                          <div class="error" ng-messages="refForm.studLName.$error" ng-show="refForm.studLName.$touched && !refForm.studLName.$valid">
                            <p class="error-message" ng-message="required">Please fill out this field.</p>
                            <p class="error-message" ng-message="pattern">Allowed characters: a-z, A-Z, space and (.,'-)</p>
                          </div>
                        </div>

                        <!---------------------------------------------------------------------->

                        <div class="firstName col-md-4">
                          <span class="input-label">First Name:  </span>

                          <div class="style-select">
                            <input name="studFName" type="text" ng-Model="studFName" uib-typeahead="students.student_fullname for students in getStudentFName($viewValue)" typeahead-on-select="onSelect($item, $model, $label)" typeahead-min-length="1" class="form-control" id="studFName" placeholder="Ex. Juan Jr." pattern="^[a-zA-Z ,.'-]+$" required>
                            <div ng-messages="refForm.studFName.$error" ng-show="(refForm.studFName.$touched || refForm.$submitted) && !refForm.studFName.$valid">
                              <span class="fa fa-exclamation-circle errspan" ng-message="pattern" title="Allowed characters: a-z, A-Z, space and (.,'-)" data-toggle="tooltip" data-placement="auto"></span>
                              <span class="fa fa-exclamation-circle errspan" ng-message="required" title="Please fill out this field." data-toggle="tooltip" data-placement="auto"></span>
                            </div>
                          </div>

                          <div class="error" ng-messages="refForm.studFName.$error" ng-show="refForm.studFName.$touched && !refForm.studFName.$valid">
                            <p class="error-message" ng-message="required">Please fill out this field.</p>
                            <p class="error-message" ng-message="pattern">Allowed characters: a-z, A-Z, space and (.,'-)</p>
                          </div>
                        </div>

                        <!---------------------------------------------------------------------->

                        <div class="subjName col-md-4">
                          <span class="input-label">Subject Name:  </span>

                          <div class="style-select">
                            <input class="form-control" type="text" name="subjName" id="subjName" ng-Model="subjName" placeholder="Ex. Core Java 1" required>
                            <div ng-messages="refForm.subjName.$error" ng-show="(refForm.subjName.$touched || refForm.$submitted) && !refForm.subjName.$valid">
                              <span class="fa fa-exclamation-circle errspan" ng-message="required" title="Please fill out this field." data-toggle="tooltip" data-placement="auto"></span>
                            </div>
                          </div>

                          <div class="error" ng-messages="refForm.subjName.$error" ng-show="refForm.subjName.$touched && !refForm.subjName.$valid">
                            <p class="error-message" ng-message="required">Please fill out this field.</p>
                          </div>
                        </div>

                        <!---------------------------------------------------------------------->

                        <div class="department col-md-4">
                          <span class="input-label">Department:  </span>

                          <div class="style-select">
                            <select class="form-control" name="department" id="department" ng-model="department" ng-change="resetInput()" required>
                              <option disabled selected value> -- Select Department -- </option>
                              <option value="1">Senior High School</option>
                              <option value="2">College</option>
                            </select>

                            <div ng-messages="refForm.department.$error" ng-show="(refForm.department.$touched || refForm.$submitted) && !refForm.department.$valid">
                              <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="Please fill out this field." data-toggle="tooltip" data-placement="auto"></span>
                            </div>
                          </div>

                          <div ng-messages="refForm.department.$error" ng-show="refForm.department.$touched && !refForm.department.$valid">
                            <p class="error-message" ng-message="required">Please fill out this field.</p>
                          </div>
                        </div>

                        <!---------------------------------------------------------------------->

                        <div class="level col-md-4" ng-show="department">

                          <span ng-show="department==1" class="input-label">Grade Level:  </span>
                          <span ng-show="department==2" class="input-label">Year Level:  </span>

                          <div class="style-select">

                            <select class="form-control" name="year" id="year" ng-model="year" ng-disabled="!department" required>

                              <option ng-if="department==1" disabled selected value> -- Select Grade Level -- </option>

                              <option ng-if="department==1" value="1">Grade 11</option>
                              <option ng-if="department==1" value="2">Grade 12</option>

                              <option ng-if="department==2" disabled selected value> -- Select Year Level -- </option>

                              <option ng-if="department==2" value="1">First Year</option>
                              <option ng-if="department==2" value="2">Second Year</option>
                              <option ng-if="department==2" value="3">Third Year</option>
                              <option ng-if="department==2" value="4">Fourth year</option>

                            </select>

                            <div ng-messages="refForm.year.$error" ng-show="(refForm.year.$touched || refForm.$submitted) && !refForm.year.$valid">
                              <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="Please fill out this field." data-toggle="tooltip" data-placement="auto"></span>
                            </div>

                          </div>

                          <div class="error" ng-messages="refForm.year.$error" ng-show="(refForm.year.$touched || refForm.$submitted) && !refForm.year.$valid">
                            <p class="error-message" ng-message="required">Please fill out this field.</p>
                          </div>

                        </div>

                        <!---------------------------------------------------------------------->

                        <div class="courseProgram col-md-8" ng-show="department">

                          <span ng-show="department==1" class="input-label">Program:  </span>
                          <span ng-show="department==2" class="input-label">Course:  </span>

                          <div class="style-select">

                            <select class="form-control" name="course" id="course" ng-model="course" ng-disabled="!department" required>

                                <option ng-if="department==1" disabled selected value> -- Select Program -- </option>

                                <optgroup ng-if="department==1" label="Academic Tracks">
                                  <option ng-if="department==1" value="1">Humanities And Social Sciences</option>
                                  <option ng-if="department==1" value="2">Accountancy Business And Management</option>
                                </optgroup>

                                <optgroup ng-if="department==1" label="Technical Vocational">
                                  <option ng-if="department==1" value="3">Computer Programming</option>
                                  <option ng-if="department==1" value="4">Animation</option>
                                  <option ng-if="department==1" value="5">Fashion Design</option>
                                </optgroup>

                                <optgroup ng-if="department==1"label="Arts and Design Track">
                                  <option ng-if="department==1" value="6">Multimedia Arts</option>
                                </optgroup>

                                <option ng-if="department==2" disabled selected value> -- Select Course -- </option>

                                <optgroup ng-if="department==2" label="School of Computing">
                                  <option ng-if="department==2" value="1">Software Engineering</option>
                                  <option ng-if="department==2" value="2">Game Development</option>
                                  <option ng-if="department==2" value="3">Web Development</option>
                                </optgroup>

                                <optgroup ng-if="department==2" label="School of Design">
                                  <option ng-if="department==2" value="4">Animation</option>
                                  <option ng-if="department==2" value="5">Multimedia Arts</option>
                                  <option ng-if="department==2" value="6">Fashion Design</option>
                                </optgroup>

                                <optgroup ng-if="department==2" label="School of Business">
                                  <option ng-if="department==2" value="7">Real Estate Management</option>
                                  <option ng-if="department==2" value="8">Business Administration</option>
                                </optgroup>

                            </select>

                            <div ng-messages="refForm.course.$error" ng-show="(refForm.course.$touched || refForm.$submitted) && !refForm.course.$valid">
                              <span class="fa fa-exclamation-circle selecterrspan" ng-message="required" title="Please fill out this field." data-toggle="tooltip" data-placement="auto"></span>
                            </div>
                          </div>

                          <div class="error" ng-messages="refForm.course.$error" ng-show="(refForm.course.$touched || refForm.$submitted) && !refForm.course.$valid">
                            <p class="error-message" ng-message="required">Please fill out this field.</p>
                          </div>

                        </div>


                      </div>

                      <!---------------------------------------------------------------------->

                      <div class="panel-heading">

                        <h1 class="panel-title">Reason/s for Referral</h1>

                      </div>

                      <div class="referral panel-body reason-panel-body">

                        <div class="col-md-12 no-side-padding">

                          <!---------------------------------------------------------------------->

                          <div class="row">


                            <div class="col-md-7">
                              <div class="col-md-12">
                                <input type="checkbox" id="reasons[0]" ng-model="reasons[0].check" value="reasons[0].value">
                                <label class="reason-label" for="reasons[0]">{{reasons[0].name}}</label>
                              </div>
                              <div class="col-md-12">
                                <input type="checkbox" id="reasons[1]" ng-model="reasons[1].check" value="reasons[1].value">
                                <label class="reason-label" for="reasons[1]">{{reasons[1].name}}</label>
                              </div>
                              <div class="col-md-12">
                                <input type="checkbox" id="reasons[2]" ng-model="reasons[2].check" value="reasons[2].value">
                                <label class="reason-label" for="reasons[2]">{{reasons[2].name}}</label>
                              </div>
                              <div class="col-md-12">
                                <input type="checkbox" id="reasons[3]" ng-model="reasons[3].check" value="reasons[3].value">
                                <label class="reason-label" for="reasons[3]">{{reasons[3].name}}</label>
                              </div>
                              <div class="col-md-12">
                                <input type="checkbox" id="reasons[4]" ng-model="reasons[4].check" value="reasons[4].value">
                                <label class="reason-label" for="reasons[4]">{{reasons[4].name}}</label>
                              </div>
                               <div class="col-md-12">
                                <input type="checkbox" id="reasons[5]" ng-model="reasons[5].check" value="reasons[5].value">
                                <label class="reason-label" for="reasons[5]">{{reasons[5].name}}</label>
                              </div>


                            </div>

                            <div class="col-md-5">

                              <input type="checkbox" id="iba" ng-change="updateOtherCheckbox()" ng-model="reasons[6].check" value="reasons[6].value">
                              <label class="reason-label" for="iba">{{reasons[6].name}}</label>

                              <div class="col-md-12 otherReason">
                                <textarea class="col-md-12" ng-class="{invalidTextArea: invalidOtherReason}" ng-change="updateOtherTextArea(reasons[6].value)" id="others" name="others" ng-disabled="!reasons[6].check" ng-model="reasons[6].value" maxlength="255"></textarea>
                              </div>
                            </div>

                          </div>

                        <!---------------------------------------------------------------------->

                        </div>

                      </div>

                    </div>

                    <div class="buttons custom-btn-list col-md-12 col-md-offset-0">

                      <div class="btns pull-right">

                        <button id="refFormButton" class="submitBtn btn" type="submit" ng-disabled="disableSubmitBtn">{{submitBtn}} Report</button>
                        <button class="resetBtn btn" type="reset" ng-click="resetForm()">Reset Fields</button>

                      </div>

                    </div>
                </div>
            </form>

    </div>

    <img src="img/header1.png" class="img-responsive">
  </div>


</body>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
