<head>
	<title>ACE Program | Manage Administrators</title>

	<link rel="stylesheet" type="text/css" href="css/superadmin/manage-admin.css">
</head>

<body>

	<div class="banner">
		<div class="button-container col-md-12">
						<div class="searchBar col-md-3 pull-right">
							<!--input type="text" class="sr-input" ng-model="searchBox[myFilter]" placeholder="{{searchPlacholder}}"-->
							<input type="text" class="form-control" ng-model="searchBox" placeholder="Search">
						</div>

						<!--div id="wrap pull-right">
						  <form action="" autocomplete="on">
						  <input id="search" name="search" type="text" placeholder="Search" ng-model="searchBox"><input id="search_submit" value="Rechercher" type="submit">
						  </form>
						</div-->

						<div class="register-button col-md-2">
							<button type="button" data-toggle="modal" data-target="#adminRegModal" ng-click="showRegAdminModal()"><i class="fa fa-user-plus" aria-hidden="true"></i> Register Administrator</button>
						</div>

						<div class="delete-button col-md-1">
							<button type="button" ng-click="deleteAdminList()" ng-disabled="disableDeleteBtn()"><i class="fa fa-user-times" aria-hidden="true"></i> Delete Administrator</button>
						</div>
		</div>

		<img src="img/header1.png">
	</div>


	<!--div class="manageAdmin col-md-12" ng-submit="submitReferral()" name="refForm" id="refForm" novalidate-->
	<div class="manageAdmin col-md-12 col-md-offset-0 formContainer">

					<div class="panel-body manageContainer">

							<table class="table table-inbox table-condensed">
								<col width="50">
								<col width="100">
								<col width="100">
								<col width="80">
								<col width="80">
								<col width="20">

								<thead>
									<tr class="header">
											<th><center><input type="checkbox" ng-model="mainCheckbox" ng-change="controlCheckbox()"></center></th>
											<th>EMAIL</th>
											<th>NAME</th>
											<th>CONTACT NUMBER</th>
											<th><center>DEPARTMENT</center></th>
											<th><center>ACTION</center></th>
									</tr>
								</thead>

								<tbody>
									<tr class="listAdmin" ng-repeat="admin in adminAccounts | startFrom:(currentPage-1)*itemsPerPage | filter: searchBox | limitTo:itemsPerPage" ng-click="showPopup(message)">
											<td>
												<center><input type="checkbox" data-checklist-model="adminList.email" data-checklist-value="admin.email" checklist-change="updateMainCheckbox()" noclick></center>
											</td>

											<td>
												{{admin.email}}
											</td>

											<td>
							       		{{admin.first_name}} {{admin.last_name}}
							        </td>

					        		<td>
												<center>
					            		{{admin.contact_number}}
												</center>
					        		</td>

											<td>
												<center>
					            		{{admin.department}}
												</center>
					        		</td>

											<td>
												<center>
												<button type="button" class="btn btn-primary" ng-click="deleteAdmin(admin.email)" ><span class="glyphicon glyphicon-trash"></span></button>
												</center>
											</td>
							    </tr>
	 							</tbody>
							</table>

							<div ng-show="adminAccounts.length == 0">
								<p>No Result</p>
							</div>

							<div class="page">
								<center>
										<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
								</center>
							</div>

					</div>
	</div>



		<div id="adminRegModal" class="modal fade" role="dialog">
		  	<div class="modal-dialog">

			    <div class="modal-content">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove custom-header-color" aria-hidden="true"></span></button>
			        	<h4 class="modal-title custom-header-color">Register Administrator</h4>
			     	</div>
			      	<div class="modal-body">


			      		<form name="regAdminForm" class="form-horizontal custom-form" role="form" ng-submit="registerAdmin(regAdminForm)" novalidate>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminEmailInput">Email</label>
				              <div class="col-md-12">
				                <input type="email" class="form-control" id="adminEmailInput" name="adminEmail" ng-model="adminEmail" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminEmail.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="emailExist">Email already used</p>
				              <p class="invalid-text" ng-message="required">This field is required</p>
				              <p class="invalid-text" ng-message="email">Invalid email</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminFirstNameInput">First Name</label>
				              <div class="col-md-12">
				                <input type="text" class="form-control" id="adminFirstNameInput" name="adminFirstName" ng-model="adminFirstName" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminFirstName.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminLastNameInput">Last Name</label>
				              <div class="col-md-12">
				                <input type="text" class="form-control" id="adminLastNameInput" name="adminLastName" ng-model="adminLastName" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminLastName.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminDepartmentInput">Department</label>
				              <div class="col-md-12">
				                <select class="form-control" id="adminDepartmentInput" name="adminDepartment" ng-model="adminDepartment" required>
				                  <option disabled selected value>Select Department</option>
							      <option value="1"> Senior High School</option>
							      <option value="2"> College</option>
							    </select>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminDepartment.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="regBtn">
				              <button type="submit" class="btn btn-primary" ng-disabled="disableRegBtn">{{createBtn}}</button>
				        	</div>

				        </form>

			      	</div>

			    </div>

		  	</div>
		</div><!-- modal closing tag -->

</div><!-- div ng-Controller -->

</body>
<!--

 <div class="form-group">
				              <label class="col-md-12 control-label">New Password</label>
				              <div class="col-md-12">
				                <input type="password" class="form-control" id="userPasswordInput" name="userPassword" ng-model="userPassword" ng-model-options="{allowInvalid: true}" pattern="^.*(?=.*\d)(?=.*[A-Za-z]).*$" minlength="8" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.userPassword.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="samePword">Invalid password</p>
				              <p class="invalid-text" ng-message="required">This field is required</p>
				              <p class="invalid-text" ng-message="minlength">Must be atleast 8 characters</p>
				              <p class="invalid-text" ng-message="pattern">Must be a combination of letters and numbers</p>
				            </div>

				            <div class="form-group">
				              <label class="col-md-12 control-label">Confirm Password</label>
				              <div class="col-md-12">
				                <input type="password" class="form-control" id="userConfirmPasswordInput" name="userConfirmPassword" ng-model="userConfirmPassword" compare-to="userPassword" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.userConfirmPassword.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				              <p class="invalid-text" ng-message="compareTo">Password don't match</p>
				            </div>


<label><b>Email: </b></label>
				        <input type="email" placeholder="Email" ng-Model="adminEmail" required>
								<br><br>
				        <label><b>First Name: </b></label>
				        <input type="text" placeholder="First Name" ng-Model="adminFirstName" required>
								<br><br>
				        <label><b>Last Name: </b></label>
				        <input type="text" placeholder="Last Name" ng-Model="adminLastName" required>
								<br><br>
								<label><b>Department: </b></label>
								<input type="radio" ng-Model="department" value="1"> Senior High School
								<input type="radio" ng-Model="department" value="2"> College<br>

			      	</div>
			      	<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="registerAdmin()">Submit</button>
			      	</div>
