<head>
	<title>ACE Program | Manage Administrators</title>
	<link rel="stylesheet" type="text/css" href="css/superadmin/manage-admin.css">
</head>

<body>

<div ng-show="!isLoading">

	<div class="banner">
		<div class="button-container col-md-12">
						<div class="searchBar pull-right">
							<input type="text" class="form-control" ng-model="searchBox" placeholder="&#xF002; Search " style="font-family:Arial, FontAwesome" />
						</div>

						<div class="register-button col-md-1 col-md-offset-0">
							<button class="btn" type="button" data-toggle="modal" data-target="#adminRegModal" ng-click="showRegAdminModal()"><i class="fa fa-user-plus" aria-hidden="true"></i> Register Administrator</button>
						</div>

						<div class="delete-button col-md-1 col-md-offset-1">
							<button class="btn" type="button" ng-click="deleteAdminList()" ng-hide="disableDeleteBtn()"><i class="fa fa-user-times" aria-hidden="true"></i> Delete Administrators</button>
						</div>
		</div>

		<img src="img/header1.png" class="img-responsive">
	</div>

	<div class="manageAdmin col-md-12 col-md-offset-0 formContainer">

					<div class="col-md-12 panel-body manageContainer table-responsive">

							<table class="col-md-12 table table-condensed table-hover ">
								<col width="15">
								<col width="150">
								<col width="200">
								<col width="100">
								<col width="100">
								<col width="60">
								<col width="30">

								<thead>
									<tr class="header">
											<th>
												<center>
													<input type="checkbox" ng-model="mainCheckbox" ng-change="controlCheckbox()">
												</center>
											</th>
											<th>EMAIL</th>
											<th>NAME</th>
											<th>CONTACT</th>
											<th>DEPARTMENT</th>
											<th>STATUS</th>
											<th><center>ACTION</center></th>
									</tr>
								</thead>
								<tbody>



									<tr class="listAdmin" ng-repeat="admin in adminAccounts | startFrom:(currentPage-1)*itemsPerPage | filter: searchBox | limitTo:itemsPerPage" data-toggle="modal" data-target="#editModal" ng-click="showPopup(admin)">
											<td>
												<center><input type="checkbox" data-checklist-model="adminList.email" data-checklist-value="admin.email" noclick></center>
											</td>

											<td>
												{{admin.email}}
											</td>

											<td>
									       		{{admin.first_name | uppercase}} {{admin.last_name | uppercase}}
									        </td>

							        		<td>
							            		{{admin.contact_number}}
							        		</td>

											<td>
							            		{{admin.department}}
							        		</td>

							        		<td>
							            		{{admin.status}}
							        		</td>

											<td class="deleteButton">
												<center>
												<button type="button" class="btn btn-danger btn-xs" ng-click="deleteAdmin(admin.email, admin.first_name, admin.last_name)" noclick><span class="glyphicon glyphicon-trash"></span></button>
												</center>
											</td>
							    	</tr>

							    	<tr ng-show="(filtered = (adminAccounts | filter:searchBox)).length == 0">
										<td colspan="7"><center>NO RESULT</center></td>
									</tr>

									<center>
										<div class="custom-pagination">
											<ul class="custom-inner-pagination" uib-pagination total-items="(filtered = (adminAccounts | filter:searchBox)).length" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="resetCheckbox()"></ul>
										</div>
									</center>

	 							</tbody>
							</table>



					</div>
	</div>

</div>

<div class="sk-fading-circle" ng-hide="!isLoading">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
</div> <!-- spinner -->


<!-- MODALS -->
		<div id="adminRegModal" class="modal fade" role="dialog">
		  	<div class="modal-dialog">

			    <div class="modal-content">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove custom-header-color" aria-hidden="true"></span></button>
			        	<h3 class="modal-title custom-header-color"><i class="fa fa-user-plus" aria-hidden="true"></i> Register Administrator</h3>
			     	</div>
			      	<div class="modal-body">


			      		<form name="regAdminForm" class="form-horizontal custom-form" role="form" ng-submit="registerAdmin(regAdminForm)" novalidate>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminEmailInput">Email</label>
				              <div class="col-md-12">
				                <input type="email" class="form-control" id="adminEmailInput" name="adminEmail" ng-model="adminEmail" pattern="^[a-zA-Z0-9._%+-]+@iacademy.edu.ph" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminEmail.$error" ng-show="regAdminForm.$submitted">
											<p class="invalid-text" ng-message="pattern">Must use iACADEMY Email</p>
				              <p class="invalid-text" ng-message="emailExist">Email already used</p>
				              <p class="invalid-text" ng-message="required">This field is required</p>
				              <p class="invalid-text" ng-message="email">Invalid email</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminFirstNameInput">First Name</label>
				              <div class="col-md-12">
				                <input type="text" maxlength="25" class="form-control" id="adminFirstNameInput" name="adminFirstName" ng-model="adminFirstName" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminFirstName.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminLastNameInput">Last Name</label>
				              <div class="col-md-12">
				                <input type="text" maxlength="25" class="form-control" id="adminLastNameInput" name="adminLastName" ng-model="adminLastName" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminLastName.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminDepartmentInput">Department</label>
				              <div class="col-md-12">
				                <select class="form-control" id="adminDepartmentInput" name="adminDepartment" ng-model="adminDepartment" required>
				                  <option disabled selected value>Select Department</option>
							      <option value="1"> Senior High School</option>
							      <option value="2"> College</option>
							    </select>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminDepartment.$error" ng-show="regAdminForm.$submitted">
				             	<p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="regBtn">
				             	<button type="submit" class="btn btn-primary" ng-disabled="disableRegBtn">{{createBtn}}</button>
				        	</div>

				        </form>

			      	</div>

			    </div>

		  	</div>
		</div><!-- modal closing tag -->



		<div id="editModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove custom-header-color" aria-hidden="true"></span></button>
						<!--p class="modal-title custom-header-color custom-modal-header">Edit Administrator Information</p-->
						<h3 class="modal-title custom-header-color"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Administrator's Information</h3>
					</div>

					<div class="modal-body">

						<form name="updateAdminForm" class="form-horizontal custom-form" role="form" ng-submit="updateAdmin(updateAdminForm)" novalidate>

										<div class="form-group">
											<label  class="col-md-12 control-label" for="lastName">Last Name <i class="glyphicon glyphicon-question-sign" title="Must only have letters, space, and certain special characters (.  ,' -)"></i></label>
											<div class="col-md-12">
												<input type="text" maxlength="25" class="form-control" id="lastName" name="lastName" ng-model="lastName" pattern="^[a-zA-Z ,.'-]+$" required/>
											</div>
										</div>
										<div ng-messages="updateAdminForm.lastName.$error" ng-show="updateAdminForm.$submitted">
											<p class="invalid-text" ng-message="pattern">Must only have letters, space, and certain special characters (.  ,' -)</p>
											<p class="invalid-text" ng-message="required">This field is required</p>
										</div>


										<div class="form-group">
											<label  class="col-md-12 control-label" for="firstName">First Name <i class="glyphicon glyphicon-question-sign" title="Must only have letters, space, and certain special characters (.  ,' -)"></i></label>
											<div class="col-md-12">
												<input type="text" maxlength="25" class="form-control" id="firstName" name="firstName" ng-model="firstName" pattern="^[a-zA-Z ,.'-]+$" required/>
											</div>
										</div>
										<div ng-messages="updateAdminForm.firstName.$error" ng-show="updateAdminForm.$submitted">
											<p class="invalid-text" ng-message="pattern">Must only have letters, space, and certain special characters (.  ,' -)</p>
											<p class="invalid-text" ng-message="required">This field is required</p>
										</div>


										<div ng-messages="updateAdminForm.level.$error" ng-show="updateAdminForm.$submitted">
											<p class="invalid-text" ng-message="required">This field is required</p>
										</div>

										<div class="form-group">
				              <label  class="col-md-12 control-label" for="department">Department</label>
				              <div class="col-md-12">
				              	<select class="form-control" name="department" id="department" ng-model="department" required>
													<option value="1">Senior High School</option>
													<option value="2">College</option>
												</select>
											</div>
									 </div>

									 <div ng-messages="updateAdminForm.program.$error" ng-show="updateAdminForm.$submitted">
										 <p class="invalid-text" ng-message="required">This field is required</p>
									 </div>

										<div class="updateBtn">
											<button type="submit" class="btn btn-primary pull-right" ng-disabled="disableUpdateBtn">{{updateBtn}}</button>
										</div>

								</form>

					</div>

				</div>

			</div>
		</div><!-- modal closing tag -->

</body>
